# WARNING:
#
# Do not change this file directly.  Make all project-level customizations in
# the base .rubocop.yml file
# Common configuration.

AllCops:
  RubyInterpreters:
    - ruby
    - macruby
    - rake
    - jruby
    - rbx
  # Include common Ruby source files.
  Include:
    - "**/*.rb"
    - "**/*.arb"
    - "**/*.axlsx"
    - "**/*.builder"
    - "**/*.fcgi"
    - "**/*.gemfile"
    - "**/*.gemspec"
    - "**/*.god"
    - "**/*.jb"
    - "**/*.jbuilder"
    - "**/*.mspec"
    - "**/*.opal"
    - "**/*.pluginspec"
    - "**/*.podspec"
    - "**/*.rabl"
    - "**/*.rake"
    - "**/*.rbuild"
    - "**/*.rbw"
    - "**/*.rbx"
    - "**/*.ru"
    - "**/*.ruby"
    - "**/*.spec"
    - "**/*.thor"
    - "**/*.watchr"
    - "**/.irbrc"
    - "**/.pryrc"
    - "**/buildfile"
    - "**/Appraisals"
    - "**/Berksfile"
    - "**/Brewfile"
    - "**/Buildfile"
    - "**/Capfile"
    - "**/Cheffile"
    - "**/Dangerfile"
    - "**/Deliverfile"
    - "**/Fastfile"
    - "**/*Fastfile"
    - "**/Gemfile"
    - "**/Guardfile"
    - "**/Jarfile"
    - "**/Mavenfile"
    - "**/Podfile"
    - "**/Puppetfile"
    - "**/Rakefile"
    - "**/Snapfile"
    - "**/Steepfile"
    - "**/Thorfile"
    - "**/Vagabondfile"
    - "**/Vagrantfile"
  Exclude:
    - "node_modules/**/*"
    - "tmp/**/*"
    - "vendor/**/*"
    - ".git/**/*"
    - "bin/**/*"
    - "tmp/**/*"
    - "public/system/**/*"
    - "db/schema.rb"
  DisplayCopNames: true
  # NewCops: enable

#################### Gemspec ##########################

Gemspec/AddRuntimeDependency: # new in 1.65
  Enabled: true

Gemspec/DeprecatedAttributeAssignment: # new in 1.30
  Enabled: true

Gemspec/DevelopmentDependencies:
  Enabled: true

Gemspec/RequireMFA: # new in 1.23
  Enabled: true

#################### Layout ###########################

Layout/BeginEndAlignment: # (new in 0.91)
  Enabled: true

Layout/LineContinuationLeadingSpace: # new in 1.31
  Enabled: true

Layout/LineContinuationSpacing: # new in 1.31
  Enabled: true

Layout/EmptyLines:
  Enabled: false

Layout/EmptyLinesAroundAttributeAccessor: # (new in 0.83)
  Enabled: true

Layout/EmptyLinesAroundClassBody:
  EnforcedStyle: empty_lines

Layout/EmptyLinesAroundModuleBody:
  EnforcedStyle: empty_lines

Layout/EmptyLineBetweenDefs:
  AllowAdjacentOneLineDefs: false
  NumberOfEmptyLines: 2

Layout/ExtraSpacing:
  AllowForAlignment: true
  AllowBeforeTrailingComments: true
  ForceEqualSignAlignment: false

Layout/HashAlignment:
  EnforcedColonStyle: table
  EnforcedHashRocketStyle: table

Layout/LineEndStringConcatenationIndentation: # new in 1.18
  Enabled: true

Layout/LineLength:
  Max: 99
  AllowHeredoc: true
  AllowURI: true
  URISchemes:
    - http
    - https
  AllowedPatterns:
    - "=>"
    - "->"
    - '^(\s)*+#.*'
  Exclude:
    - "Gemfile"

Layout/MultilineMethodCallIndentation:
  EnforcedStyle: aligned

Layout/ParameterAlignment:
  EnforcedStyle: with_first_parameter

Layout/SpaceAroundMethodCallOperator:
  Enabled: true

Layout/SpaceBeforeBrackets: # (new in 1.7)
  Enabled: true

#################### Lint ###############################

Lint/AmbiguousAssignment: #( new in 1.7)
  Enabled: true

Lint/AmbiguousOperatorPrecedence: # new in 1.21
  Enabled: true

Lint/AmbiguousRange: # new in 1.19
  Enabled: true

Lint/BinaryOperatorWithIdenticalOperands: # (new in 0.89)
  Enabled: false # marked as unsafe as of 0.93

Lint/ConstantDefinitionInBlock: # (new in 0.91)
  Enabled: true

Lint/ConstantOverwrittenInRescue: # new in 1.31
  Enabled: true

Lint/DeprecatedConstants: # (new in 1.8)
  Enabled: true

Lint/DeprecatedOpenSSLConstant: # (new in 0.84)
  Enabled: true

Lint/DuplicateElsifCondition: # (new in 0.88)
  Enabled: true

Lint/DuplicateBranch: # (new in 1.3)
  Enabled: true

Lint/DuplicateMatchPattern: # new in 1.50
  Enabled: true

Lint/DuplicateMagicComment: # new in 1.37
  Enabled: true

Lint/DuplicateRegexpCharacterClassElement: # (new in 1.1)
  Enabled: true

Lint/DuplicateRequire: # (new in 0.90)
  Enabled: true

Lint/DuplicateRescueException: # (new in 0.89)
  Enabled: true

Lint/EmptyBlock: # (new in 1.1)
  Enabled: true

Lint/EmptyClass: # (new in 1.3)
  Enabled: true

Lint/EmptyConditionalBody: # (new in 0.89)
  Enabled: true

Lint/EmptyFile: # (new in 0.90)
  Enabled: true

Lint/EmptyInPattern: # (new in 1.16)
  Enabled: true

Lint/FloatComparison: # (new in 0.89)
  Enabled: true

Lint/HashCompareByIdentity: # (new in 0.93)
  Enabled: false # marked as unsafe as of 0.93

Lint/IdentityComparison: # (new in 0.91)
  Enabled: true

Lint/ItWithoutArgumentsInBlock: # new in 1.59
  Enabled: true

Lint/IncompatibleIoSelectWithFiberScheduler: # new in 1.21
  Enabled: true

Lint/LambdaWithoutLiteralBlock: #( new in 1.8)
  Enabled: true

Lint/LiteralAssignmentInCondition: # new in 1.58
  Enabled: true

Lint/MissingSuper: # (new in 0.89)
  Enabled: false

Lint/MixedCaseRange: # new in 1.53
  Enabled: true

Lint/MixedRegexpCaptureTypes: # (new in 0.85)
  Enabled: true

Lint/NonAtomicFileOperation: # new in 1.31
  Enabled: true

Lint/NoReturnInBeginEndBlocks: # (new in 1.2)
  Enabled: true

Lint/NumberedParameterAssignment:
  Enabled: true

Lint/OrAssignmentToConstant:
  Enabled: true

Lint/OutOfRangeRegexpRef: # (new in 0.89)
  Enabled: true

Lint/RaiseException:
  Enabled: true

Lint/RedundantDirGlobSort: # (new in 1.8)
  Enabled: true

Lint/RedundantRegexpQuantifiers: # new in 1.53
  Enabled: true

Lint/RedundantSafeNavigation: # (new in 0.93)
  Enabled: true

Lint/RefinementImportMethods: # new in 1.27
  Enabled: true

Lint/RequireRangeParentheses: # new in 1.32
  Enabled: true

Lint/RequireRelativeSelfPath: # new in 1.22
  Enabled: true

Lint/SelfAssignment: # (new in 0.89)
  Enabled: true

Lint/StructNewOverride:
  Enabled: true

Lint/SymbolConversion:
  Enabled: true

Lint/ToEnumArguments: # (new in 1.1)
  Enabled: true

Lint/TopLevelReturnWithArgument: # (new in 0.89)
  Enabled: true

Lint/TrailingCommaInAttributeDeclaration: # (new in 0.90)
  Enabled: true

Lint/TripleQuotes:
  Enabled: true

Lint/UnexpectedBlockArity: # (new in 1.5)
  Enabled: true

Lint/UnmodifiedReduceAccumulator: # (new in 1.1)
  Enabled: true

Lint/UnreachableLoop: # (new in 0.89)
  Enabled: true

Lint/UselessMethodDefinition: # (new in 0.90)
  Enabled: true

Lint/UselessRescue: # new in 1.43
  Enabled: true

Lint/UselessTimes: # (new in 0.91)
  Enabled: true

Lint/UselessRuby2Keywords: # new in 1.23
  Enabled: true

#################### Metrics ###############################

Metrics/AbcSize:
  Max: 25

Metrics/BlockLength:
  CountAsOne:
    - array
    - hash
  Exclude:
    - lib/tasks/**/*
    - config/environments/*.rb
    - spec/**/*_spec.rb
    - spec/factories/*.rb
    - spec/support/shared/**/*.rb
    - app/admin/**/*.rb
    - config/routes.rb

Metrics/ClassLength:
  CountComments: false
  Max: 250
  CountAsOne:
    - array
    - hash
  Exclude:
    - config/routes.rb

Metrics/CollectionLiteralLength: # new in 1.47
  Enabled: true

Metrics/MethodLength:
  CountAsOne:
    - array
    - hash
  Max: 25

#################### Naming ##############################

Naming/BlockForwarding: # new in 1.24
  Enabled: true
  EnforcedStyle: explicit

Naming/VariableNumber:
  EnforcedStyle: snake_case

#################### Security ###############################

Security/CompoundHash: # new in 1.28
  Enabled: true

Security/IoMethods: # new in 1.22
  Enabled: true

#################### Style ###############################

Style/ArrayIntersect: # new in 1.40
  Enabled: true

Style/ArgumentsForwarding: # (new in 1.1)
  Enabled: true

Style/AccessorGrouping: # (new in 0.87)
  Enabled: true
  EnforcedStyle: separated

Style/BisectedAttrAccessor: # (new in 0.87)
  Enabled: true

Style/CaseLikeIf: # (new in 0.88)
  Enabled: true

Style/CollectionCompact: # (new in 1.2)
  Enabled: true

Style/ClassEqualityComparison: # (new in 0.93)
  Enabled: true

Style/CombinableLoops: # (new in 0.90)
  Enabled: true

Style/ComparableClamp:
  Enabled: true

Style/ConcatArrayLiterals: # new in 1.41
  Enabled: true

Style/DataInheritance: # new in 1.49
  Enabled: true

Style/DirEmpty: # new in 1.48
  Enabled: true

Style/DocumentDynamicEvalDefinition: # (new in 1.1)
  Enabled: true

Style/EmptyHeredoc: # new in 1.32
  Enabled: true

Style/EmptyMethod:
  EnforcedStyle: expanded

Style/EndlessMethod: #(new in 1.8)
  Enabled: true

Style/EnvHome: # new in 1.29
  Enabled: true

Style/ExplicitBlockArgument: # (new in 0.89)
  Enabled: true

Style/ExponentialNotation:
  Enabled: true

Style/FetchEnvVar: # new in 1.28
  Enabled: true

Style/FileEmpty: # new in 1.48
  Enabled: true

Style/FileRead: # new in 1.24
  Enabled: true

Style/FileWrite: # new in 1.24
  Enabled: true

Style/FrozenStringLiteralComment:
  Enabled: false

Style/GlobalStdStream: # (new in 0.89)
  Enabled: true

Style/HashAsLastArrayItem: # (new in 0.88)
  Enabled: true

Style/HashConversion:
  Enabled: true

Style/HashEachMethods:
  Enabled: false

Style/HashExcept: # (new in 1.7)
  Enabled: true

Style/HashLikeCase: # (new in 0.88)
  Enabled: true

Style/HashTransformKeys:
  Enabled: true

Style/HashTransformValues:
  Enabled: true

Style/IfWithBooleanLiteralBranches:
  Enabled: true

Style/InPatternThen: # (new in 1.16)
  Enabled: true

Style/KeywordParametersOrder: # (new in 0.90)
  Enabled: true

Style/Lambda:
  Exclude:
    - app/models/**/*.rb

Style/MagicCommentFormat: # new in 1.35
  Enabled: true

Style/MapCompactWithConditionalBlock: # new in 1.30
  Enabled: true

Style/MapIntoArray: # new in 1.63
  Enabled: true

Style/MapToHash: # new in 1.24
  Enabled: true

Style/MapToSet: # new in 1.42
  Enabled: true

Style/MinMaxComparison: # new in 1.42
  Enabled: true

Style/MixinGrouping:
  EnforcedStyle: grouped

Style/MultilineInPatternThen: # (new in 1.16)
  Enabled: true

Style/MutableConstant:
  Exclude:
    - config/initializers/app_version.rb

Style/NegatedIfElseCondition: # (new in 1.2)
  Enabled: true

Style/NestedFileDirname: # new in 1.26
  Enabled: true

Style/NilLambda: # (new in 1.3)
  Enabled: true

Style/NumberedParameters: # new in 1.22
  Enabled: true
  EnforcedStyle: disallow

Style/NumberedParametersLimit: # new in 1.22
  Enabled: true

Style/ObjectThen: # new in 1.28
  Enabled: true

Style/OpenStructUse: # new in 1.23
  Enabled: true

Style/OperatorMethodCall: # new in 1.37
  Enabled: true

Style/OptionalBooleanParameter: # (new in 0.89)
  Enabled: true

Style/QuotedSymbols: # (new in 1.16)
  Enabled: true
  EnforcedStyle: double_quotes

Style/RedundantArgument: # (new in 1.4)
  Enabled: true

Style/RedundantArrayConstructor: # new in 1.52
  Enabled: true

Style/RedundantConstantBase: # new in 1.40
  Enabled: true

Style/RedundantCurrentDirectoryInPath: # new in 1.53
  Enabled: true

Style/RedundantDoubleSplatHashBraces: # new in 1.41
  Enabled: true

Style/RedundantFilterChain: # new in 1.52
  Enabled: true

Style/RedundantStringEscape: # new in 1.37
  Enabled: true

Style/RedundantAssignment: # (new in 0.87)
  Enabled: true

Style/RedundantEach: # new in 1.38
  Enabled: true

Style/RedundantFetchBlock: # (new in 0.86)
  Enabled: true

Style/RedundantFileExtensionInRequire: # (new in 0.88)
  Enabled: true

Style/RedundantHeredocDelimiterQuotes: # new in 1.45
  Enabled: true

Style/RedundantInitialize: # new in 1.27
  Enabled: true

Style/RedundantLineContinuation: # new in 1.49
  Enabled: true

Style/RedundantRegexpArgument: # new in 1.53
  Enabled: true

Style/RedundantRegexpCharacterClass: # (new in 0.85)
  Enabled: true

Style/RedundantRegexpConstructor: # new in 1.52
  Enabled: true

Style/RedundantRegexpEscape: # (new in 0.85)
  Enabled: true

Style/RedundantSelfAssignment: # (new in 0.90)
  Enabled: true

Style/RedundantSelfAssignmentBranch: # new in 1.19
  Enabled: true

Style/ReturnNilInPredicateMethodDefinition: # new in 1.53
  Enabled: true

Style/ExactRegexpMatch: # new in 1.51
  Enabled: true

Style/SelectByRegexp: # new in 1.22
  Enabled: true

Style/SendWithLiteralMethodName: # new in 1.64
  Enabled: true

Style/SingleArgumentDig: # (new in 0.89)
  Enabled: true

Style/SingleLineDoEndBlock: # new in 1.57
  Enabled: true

Style/SlicingWithRange: # (new in 0.83)
  Enabled: true

Style/SoleNestedConditional: # (new in 0.89)
  Enabled: true

Style/StringChars:
  Enabled: true

Style/StringConcatenation: # (new in 0.89)
  Enabled: true

Style/StringLiterals:
  Enabled: true
  EnforcedStyle: double_quotes

Style/SuperWithArgsParentheses: # new in 1.58
  Enabled: true

Style/SuperArguments: # new in 1.64
  Enabled: true

Style/SwapValues: # (new in 1.1)
  Enabled: true

Style/SymbolArray:
  EnforcedStyle: brackets

Style/WordArray:
  EnforcedStyle: brackets
  Exclude:
    - config/application.rb

Style/YAMLFileRead: # new in 1.53
  Enabled: true

Style/YodaExpression: # new in 1.42
  Enabled: false
